<!DOCTYPE html>
<html style = "font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    <head>
        {% load static %}
        
            <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script type="text/javascript" src="{% static 'home/operations.js' %}"></script>
            
        
        
    
    
    
    </head>

    <body style = "background-image:url({%static 'home/wallpaper.jpg'%})">
    
        <div id = "main-div">
        
            <div id = "menu">
                
                <h1 class = "page-head">Data sheet</h1>
            
            </div>
            
            <div id = "table-container">

                <table id = "table">

                    <tr class = "table-row"><!--L-->
                        <td class = "table-data">46L</td>
                        <td class = "table-data">44L</td>
                        <td class = "table-data">42L</td>
                        <td class = "table-data">40L</td>
                        <td class = "table-data">38L</td>
                        <td class = "table-data">36L</td>
                        <td class = "table-data">34L</td>
                        <td class = "table-data">32L</td>
                        <td class = "table-data">30L</td>
                        <td class = "table-data">28L</td>
                        <td class = "table-data">26L</td>
                    </tr>

                    <tr class = "table-row"><!--K-->
                        <td class = "table-data">46K</td>
                        <td class = "table-data">44K</td>
                        <td class = "table-data">42K</td>
                        <td class = "table-data">40K</td>
                        <td class = "table-data">38K</td>
                        <td class = "table-data">36K</td>
                        <td class = "table-data">34K</td>
                        <td class = "table-data">32K</td>
                        <td class = "table-data">30K</td>
                        <td class = "table-data">28K</td>
                        <td class = "table-data">26K</td>
                    </tr>
                    <tr class = "table-row"><!--J-->
                        <td class = "table-data">46J</td>
                        <td class = "table-data">44J</td>
                        <td class = "table-data">42J</td>
                        <td class = "table-data">40J</td>
                        <td class = "table-data">38J</td>
                        <td class = "table-data">36J</td>
                        <td class = "table-data">34J</td>
                        <td class = "table-data">32J</td>
                        <td class = "table-data">30J</td>
                        <td class = "table-data">28J</td>
                        <td class = "table-data">26J</td>
                    </tr>
                    <tr class = "table-row"><!--H-->
                        <td class = "table-data">46H</td>
                        <td class = "table-data">44H</td>
                        <td class = "table-data">42H</td>
                        <td class = "table-data">40H</td>
                        <td class = "table-data">38H</td>
                        <td class = "table-data">36H</td>
                        <td class = "table-data">34H</td>
                        <td class = "table-data">32H</td>
                        <td class = "table-data">30H</td>
                        <td class = "table-data">28H</td>
                        <td class = "table-data">26H</td>
                    </tr>
                    <tr class = "table-row"><!--G-->
                        <td class = "table-data">46G</td>
                        <td class = "table-data">44G</td>
                        <td class = "table-data">42G</td>
                        <td class = "table-data">40G</td>
                        <td class = "table-data">38G</td>
                        <td class = "table-data">36G</td>
                        <td class = "table-data">34G</td>
                        <td class = "table-data">32G</td>
                        <td class = "table-data">30G</td>
                        <td class = "table-data">28G</td>
                        <td class = "table-data">26G</td>
                    </tr>
                    <tr class = "table-row"><!--F-->
                        <td class = "table-data">46F</td>
                        <td class = "table-data">44F</td>
                        <td class = "table-data">42F</td>
                        <td class = "table-data">40F</td>
                        <td class = "table-data">38F</td>
                        <td class = "table-data">36F</td>
                        <td class = "table-data">34F</td>
                        <td class = "table-data">32F</td>
                        <td class = "table-data">30F</td>
                        <td class = "table-data">28F</td>
                        <td class = "table-data">26F</td>
                    </tr>

                </table>

            </div>
            <div id = "mod-cell">
                <table style = "width:100%;">
                    
                        <tr>
                            
                            <td><input class = "inp1" type = "text" id = "product1" placeholder="Product 1"></input></td>
                        </tr>
                        <tr>
                            
                            <td><input class = "inp1" type = "text" id = "picloc1" placeholder="Pick 1"></input></td>
                        </tr>
                        <tr>
                            
                            <td><input class = "inp1" type = "text" id = "product2" placeholder="Product 2"></input></td>
                        </tr>
                        <tr>
                            
                            <td><input class = "inp1" type = "text" id = "picloc2" placeholder="Pick 2"></input></td>
                        </tr>
                        
                        <tr style = "display:none;">
                            <td class = "inp1"><p id = "dummy">dummy</p></td>
                            <td class = "inp1"><p id = "x">x</p></td>
                            <td class = "inp1"><p id = "y">y</p></td>
                        </tr>
                        <tr>
                            <td><input class = "inp1" type = "button" value = "Submit" onclick = "callserver()"></input></td>
                        </tr>
                    
                </table>
            </div>
            <div id = "overlay"></div>

        
        </div>
    
    </body>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">

function callserver(){
    
    var picloc1 = document.getElementById("picloc1").value;
    var product1 = document.getElementById("product1").value;
    var picloc2 = document.getElementById("picloc2").value;
    var product2 = document.getElementById("product2").value;
    var dummy = document.getElementById("dummy").value;
    

    var xp = document.getElementById("x").innerHTML;
    var yp = document.getElementById("y").innerHTML;

    

    //$.get('/about/' + product + '/' + xp + '/' + yp).done(function (data){
    //    console.log("call made" + data);
    //});

    $.ajax({
        url: '/about/',
        type: 'POST',
        data: {
            data1: picloc1,
            data2: product1,
            data3: picloc2,
            data4: product2,
            data5: xp,
            data6: yp,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(retr){
            console.log(retr[0])
            $("#overlay").css("display","none");
            $("#mod-cell").css("display", "none");
            items = [
                
                {
                item: "<h4 style = 'text-align:center;padding:0;margin:0;'>" + dummy + "/2" + "</h4>" 

                + "<table class = 'inner-table'> <tr>" 
                + "<td class = 'inner-data1'><h4 class = 'product-name1'>" + product1 + "</h4>" + "</td>"
                + "<td class = 'inner-data2'><h4 class = 'product-name2'>" + product2 + "</h4>" + "</td>"
                + "</table>"
                + "<h4 style = 'text-align:center;padding:0;margin:0;'><a style = 'text-align:center;' href = '#'>Edit</a></h4>",

                x: xp, 
                y: yp,
                }  
                   
            ];

            items.forEach(({item, x, y}) => {
                var row = document.querySelectorAll('.table-row')[y];
                console.log(y)
                var cell = row.querySelectorAll('.table-data')[x];
                console.log(x)
                cell.innerHTML = item;   
            });

        }
    });

};


items = [
    {% for i in data %}
    {item: "<h4 style = 'text-align:center;padding:0;margin:0;'>" + '{{i.loc}}' + "/2" + "</h4>" 

    + "<table class = 'inner-table'> <tr>" 
    + "<td class = 'inner-data1'><h4 class = 'product-name1' value = '{{ i.value1 }}'>" + "{{ i.value1 }}" + "</h4>" + "</td>"
    + "<td class = 'inner-data2'><h4 class = 'product-name2'>" + "{{ i.value2 }}" + "</h4>" + "</td>"
    + "</table>"
    + "<h4 style = 'text-align:center;padding:0;margin:0;'><a style = 'text-align:center;' href = '#'>Edit</a></h4>",

    x: "{{ i.xpos }}", y: "{{i.ypos}}"},  
    {% endfor %}    
];

items.forEach(({item, x, y}) => {
    var row = document.querySelectorAll('.table-row')[y];
    console.log(y)
    var cell = row.querySelectorAll('.table-data')[x];
    console.log(x)
    cell.innerHTML = item;   
    
    

});
$(document).ready( function() {
    

  
    
    $("a").mouseup( function(){
        var row = $(this).closest("tr").index();
        var cell = $(this).index();
        var location = $(this).closest("h4").text();
        var placeholder1 = $(this).closest(".product-name1").text();
        console.log(placeholder1 + location)
        console.log(cell + " " + row);
        $("#overlay").css("display","inline");
        $("#mod-cell").css("display", "inline");
        $("dummy").text(location)
        $("#x").text(cell);
        $("#y").text(row);

        
    });

    $("#overlay").mouseup( function(){
        $("#overlay").fadeOut(300);
        $("#mod-cell").fadeOut(300);
    })

});
</script>

</html>