<!DOCTYPE html>
<html style = "font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    <head>
        {% load static %}
        
            <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script type="text/javascript" src="{% static 'home/operations.js' %}"></script>
            
        
        
    
    
    
    </head>

    <body style = "background-image:url({%static 'home/wallpaper.jpg'%})">
    
        <div id = "main-div">
        
            <div id = "menu">
                
                <h1 class = "page-head">Data sheet</h1>
            
            </div>
            
            <div>

                <table id = "table">

                    <tr><!--L-->
                        <td>46L</td>
                        <td>44L</td>
                        <td>42L</td>
                        <td>40L</td>
                        <td>38L</td>
                        <td>36L</td>
                        <td>34L</td>
                        <td>32L</td>
                        <td>30L</td>
                        <td>28L</td>
                        <td>26L</td>
                    </tr>

                    <tr><!--K-->
                        <td>46K</td>
                        <td>44K</td>
                        <td>42K</td>
                        <td>40K</td>
                        <td>38K</td>
                        <td>36K</td>
                        <td>34K</td>
                        <td>32K</td>
                        <td>30K</td>
                        <td>28K</td>
                        <td>26K</td>
                    </tr>
                    <tr><!--J-->
                        <td>46J</td>
                        <td>44J</td>
                        <td>42J</td>
                        <td>40J</td>
                        <td>38J</td>
                        <td>36J</td>
                        <td>34J</td>
                        <td>32J</td>
                        <td>30J</td>
                        <td>28J</td>
                        <td>26J</td>
                    </tr>
                    <tr><!--H-->
                        <td>46H</td>
                        <td>44H</td>
                        <td>42H</td>
                        <td>40H</td>
                        <td>38H</td>
                        <td>36H</td>
                        <td>34H</td>
                        <td>32H</td>
                        <td>30H</td>
                        <td>28H</td>
                        <td>26H</td>
                    </tr>
                    <tr><!--G-->
                        <td>46G</td>
                        <td>44G</td>
                        <td>42G</td>
                        <td>40G</td>
                        <td>38G</td>
                        <td>36G</td>
                        <td>34G</td>
                        <td>32G</td>
                        <td>30G</td>
                        <td>28G</td>
                        <td>26G</td>
                    </tr>
                    <tr><!--F-->
                        <td>46F</td>
                        <td>44F</td>
                        <td>42F</td>
                        <td>40F</td>
                        <td>38F</td>
                        <td>36F</td>
                        <td>34F</td>
                        <td>32F</td>
                        <td>30F</td>
                        <td>28F</td>
                        <td>26F</td>
                    </tr>

                </table>

            </div>


        
        </div>
    
    </body>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">


items = [
    {% for i in data %}
    {item: "{{ i.product }}" + "<br>" + "{{ i.loc }}" + "<br>" + "{{ i.pickloc }}", x: "{{ i.xpos }}", y: "{{i.ypos}}"},  
    {% endfor %}    
];

items.forEach(({item, x, y}) => {
    var row = document.querySelectorAll('tr')[y];
    console.log(y)
    var cell = row.querySelectorAll('td')[x];
    console.log(x)
    cell.innerHTML = item;   
    
    

});
$(document).ready( function() {
    var x = document.getElementById("table").rows[2].cells;
    x[3].innerHTML = "NEW CONTENT";
});
</script>

</html>