<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        
            <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script type="text/javascript" src="{% static 'home/operations.js' %}"></script>
            
        
        
    
    
    
    </head>

    <body style = "background-image:url({%static 'home/wallpaper.jpg'%})">
    
        <div id = "main-div">
        
            <div id = "menu">
                
                <ul>
                    <li class = "list-item"> Home </li>
                    <li class = "list-item"> About </li>
                    <li class = "list-item"> Support </li>
                    <li class = "list-item"> Community </li>
                </ul>
            
            </div>
            <div id = "home-content" class = "text1">
                
                
            
            </div>
            
        
        </div>
    
    </body>



</html>