

#div{
    
    padding:20px;
    border:1px solid black;
    border-radius:5px;
    text-align:center;
}


#menu {
    width:100%;
    border-bottom:solid 1px white;
    opacity:1.0;
    text-align:center;
    
}


.page-head{
    color:white;
}


.home-content{
    text-align:center;
    margin-top:30px;
}
#table-container{
    width:100%;
    display:block;
    overflow-x: scroll;
    white-space: nowrap;
    
}
#table{
    width:max-content;
}

.table-data{
    border:solid 1px black;
    width:300px;
    height:140px;
    background-color:rgb(255, 255, 255);
    opacity:1.0;
    border-radius:10px;
   
}
.inner-table{
    table-layout: fixed;
}
.inner-data1{
    width:150px;
    white-space: pre-wrap;
    border-right: solid 1px black;
    text-align:center;
    
}
.inner-data2{
    width:150px;
    white-space: pre-wrap;
    border-left: solid 1px black;
    text-align:center;
    
}

#bot-tab{
    
    overflow-y: scroll;
    
    height:50vh;
}
#pickt{
    border-collapse: collapse;
}
#pickt, .t12{
    padding:10px;
    border:1px solid rgb(146, 146, 146);
}
#pickt, .t22{
    padding:10px;
    border:1px solid rgb(146, 146, 146);
}


#mod-cell{
    background-color:white;
    border-radius:10px;
    padding:10px;
    position:fixed;
    top:5%;
    width:90%;
    left:5%;
    display:none;
    z-index: 99;
    text-align: center;

}

.inp1{
    font-size: 50px;
    padding:5px;
    margin:10px;
    width:95%;
    text-align: center;
    border:1px solid rgb(172, 172, 172);
    border-radius:5px;

}
#overlay{
    background-color:black;
    position:fixed;
    width:100%;
    height:100vh;
    opacity:0.8;
    top:0px;
    left:0px;
    display:none;
}

.product-name1{
    color:#33bbff;
}
.product-name2{
    color:#33bbff;
}